@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Dodaj Film";
}

<h2>Dodaj Film</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Film</legend>
        <div style="display:inline-block" id="show_title">
        <div class="editor-label">
            Tytuł
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        </div>
        <div style="display:inline-block">
        <div class="editor-label">
            Data Premiery
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>
        </div>
        <div style="display:inline-block">
        <div class="editor-label">
            Gatunek
        </div>
        <div class="editor-field">
            <select name="Genre" id="Genre">
            <option>Akcja</option>
            <option>Horror</option>
            <option>Thriller</option>
            <option>Dramat</option>
            <option>Komedia</option>
            <option>Science Fiction</option>   
            </select>
            @Html.ValidationMessageFor(model => model.Genre)
        </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Opis)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Opis)
            @Html.ValidationMessageFor(model => model.Opis)
        </div>

        <div class="editor-label">
            Plakat Url
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fotourl)
            @Html.ValidationMessageFor(model => model.fotourl)
        </div>
        <div class="editor-field">
            <label>Dodał: @System.Web.HttpContext.Current.User.Identity.Name</label>
        </div>

        <p>
            <input type="submit" value="Dodaj Film" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
