@model MvcMovie.Models.Movie
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated){}
else{Response.Redirect("/Account/LogOn");}
@{
    ViewBag.Title = Model.Title;
}
<style>
#plakat_show:hover{
    border: 1px solid rgb(204, 204, 204);
    background: none repeat scroll 0% 0% rgb(221, 221, 221);
}
</style>

<fieldset>
    <legend>Film</legend>
    <div style="width:70%">
    <div class="display-field" id="tytul_show" style="font-size:60px;font-family: 'Trade Winds', cursive;display:inline-block;color: rgb(32, 207, 255);">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div style="display:inline-block;margin-left:10px;font-size:15px;">
    <div class="display-label">Rok Premiery</div>
    <div class="display-field" style="color: rgb(32, 207, 255);">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>
    </div>

    <div style="display:inline-block;margin-left:40px;font-size:15px;">
    <div class="display-label">Gatunek Filmu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre)
    </div>
    </div>
    </div>

    <hr style="width:80%; float:left;" />

    <div class="plakat_show">
        <img src="@Model.fotourl" width="250px" height="300px" style="position:absolute;right:87px;top:149px; border:0px solid rgb(229, 229, 229);padding: 4px;transition: all 0.8s ease 0s;" id="plakat_show" />
    </div>
    <div style="display:block;width:72%">
    <div class="display-field">
        @Html.Raw(Model.Opis.Replace(Environment.NewLine, "<br/>"))
    </div>
    </div>
    <div class="display-label">Dodał</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Useradd)
    </div>
</fieldset>
<p>
    @if (System.Web.HttpContext.Current.User.Identity.Name == Model.Useradd){
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.ID }) <text>|</text>
    }
    @Html.ActionLink("Wróć do listy", "Index")
</p>