@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Filmy";
}

<script>
    jQuery(function ($) {
        $("#SearchString").Watermark("Szukaj Filmu");
    });
</script>

    @using (Html.BeginForm("SearchIndex","Movies",FormMethod.Get)){   
         <p>@Html.TextBox("SearchString")</p>
        }

<div>
@foreach (var item in Model)
{
    <a href="Movies/Details/@item.ID" style="text-decoration:none;">
    <div class="list_film">
        <div style="text-align:center;">
            @if (item.fotourl == null){
             <img src="http://4.bp.blogspot.com/-hIirVYTQFRs/TwdWvcq55uI/AAAAAAAACt8/3frSkQULrn4/s1600/film-reel.jpg" width="150" height="200" style="border: 1px solid rgb(87, 87, 87);"/>
            }
            else{
            <img src="@item.fotourl" width="150" height="200" />
            }
        </div>
        <div style="text-align:center;">
            <div class="napis">@Html.DisplayFor(modelItem => item.Title)  (@Html.DisplayFor(modelItem => item.ReleaseDate))</div>

            <br>
            @Html.ActionLink("Show", "Details", new { id=item.ID }) 
            @if(item.Useradd == System.Web.HttpContext.Current.User.Identity.Name) { <text>|
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })</text>
            }
        </div>
    </div>
  </a>
}
 </div>